<template>
	<div id="jstree-handle-add-sesmogram">
		<div class="form-name">Add seismogram</div>
		<form id="add-seismogram"
			  name="add_seismogram"
			  autocomplete="off">

			<table class="jstree-handle-table">
				<tr>
					<td>
						<label for="profile-name">Profile name:</label>
					</td>
					<td>
						<input type="text"
							   name="profile_name"
							   id="profile-name">
					</td>
				</tr>
				<tr>
					<td>
						<label for="seismogram-name">Seismogram name:</label>
					</td>
					<td>
						<input type="text"
							   name="seismogram_name"
							   id="seismogram-name">
					</td>
				</tr>
				<tr>
					<td>
						<label for="seismic-file">Choose seismogram:</label>
					</td>
					<td>
						<input type="file"
							   name="seismic_file"
							   id="seismic-file">
					</td>
				</tr>
				<tr>
					<td>
						<input type="button"
							   value="OK"
							   class="jstree-handle-button">
					</td>
					<td>
						<input type="button"
							   value="Cancel"
							   class="jstree-handle-button"
							   @click="$el.remove()">
					</td>
				</tr>
			</table>
		</form>
	</div>
</template>

<script>
    export default 
    {
        name: 'AddSeismogramDialog'
    }
</script>

<style scoped>

	#jstree-handle-add-sesmogram{
		background-color: var(--control-div-backgroumd-color);
		height: 200px;
		width: 30%;
		min-width: 400px;
		position: absolute;
		top: 200px;
		left: 35%;
		z-index: 99999;
		font-size: 15px;
		border: 1px solid var(--add-file-border);
	}

	.form-name{
		padding-bottom: 5px;
		padding-left: 10px;
		color: var(--main-background-color);
		font-size: 17px;
		margin: auto;
		margin-top: 20px;
		border-bottom: 1px solid var(--add-file-border);
	}

	.jstree-handle-table{
		margin: auto;
		margin-top: 7px;
	}

	.jstree-handle-button{
		width:70px;
		height:25px;
		margin-top: 15px;
		background-color: var(--draw-handle-btns-color);
		border:0;
		text-align: center;
		position: relative;
		left: calc(100% - 70px);
	}

	.jstree-handle-button:hover{
		cursor:pointer;
		background-color: rgba(147, 203, 214, 0.8);
	}

</style>