<template>

</template>

<script>

	import {filterComponentsObject} from '../utils/filterComponentList'

    export default 
    {
        name: 'FilterGroup',

		components: filterComponentsObject
    }
</script>

<style scoped>

</style>