<template>
	<div id="root">
		<script ref="fragmentShader" type="x-shader/x-fragment">
			precision mediump float;
			varying vec4 v_color;
			void main(void)
			{
				gl_FragColor = v_color;
			}
		</script>

		<script ref="vertexShader" type="x-shader/x-vertex">
			attribute vec2 a_position;
			attribute vec3 a_color;
			varying vec4 v_color;
			uniform mat4 u_mvp;
			void main(void)
			{
				gl_Position = u_mvp * vec4(a_position, 0.0, 1.0);
				v_color = vec4(a_color, 1.0);
			}
		</script>

		<canvas ref="canvas" id="canvas"></canvas>
	</div>
</template>

<script>

	import Complex from '../utils/Complex';
	import FourierTransform from '../utils/FourierTransform';

	class CursorMode {}
	CursorMode.DRAGGING_SCENE = 0;
	CursorMode.DRAWING_AREA = 1;

	export default
	{
		name: 'FkSpectrum',

		data ()
		{
			return {
				isComponentRendered: false,

				scale: 0.15,

				pivot: {
					x: 0,
					y: 0
				},

				triangleWidth: 100,

				cursorMode: CursorMode.DRAGGING_SCENE
			}
		},

		watch: {
			scale ()
			{
				this.render();
			},

			pivot: {
				deep: true,
				handler: function () {
					this.render();
				}
			},

			isComponentRendered ()
			{
				if (this.fourierMatrix != undefined)
				{
					this.updateSpectrumModel();
				}
			},

			'this.$refs.canvas.clientHeight': {
				handler: function ()
				{
					console.log('client height is changed');
				}
			}
		},

		mounted ()
		{
			this.$nextTick(() =>
			{
				this.initGl();
				this.initShaders();
				this.updateCanvasSize();

				this.$watch('cursorMode', this.updateCanvasEventListeners, {
					immediate: true
				});

				this.isComponentRendered = true;
			});

		},

		methods: {
			initGl ()
			{
				let webglNames = ["experimental-webgl", "webgl", "webkit-3d", "moz-webgl"];
				this.gl = null;
				for (var i = 0; i < webglNames.length; i++)
				{
					try
					{
						this.gl = this.$refs.canvas.getContext(webglNames[i]);
					}
					catch (e)
					{
					}
					if (this.gl)
					{
						break;
					}
				}

				if (!(this.gl))
				{
					alert("Your browser is not WebGL capable");
				}

				this.gl.clearColor(1.0, 1.0, 1.0, 1.0);
			},

			initShaders ()
			{
				var vertexShader = this.getShader(this.$refs.vertexShader);
				var fragmentShader = this.getShader(this.$refs.fragmentShader);

				this.shaderProgram = this.gl.createProgram();
				this.gl.attachShader(this.shaderProgram, vertexShader);
				this.gl.attachShader(this.shaderProgram, fragmentShader);
				this.gl.linkProgram(this.shaderProgram);

				if (!this.gl.getProgramParameter(this.shaderProgram, this.gl.LINK_STATUS))
				{
					console.error("Could not initialize shaders");
				}

				this.gl.useProgram(this.shaderProgram);

				this.shaderProgram.a_position = this.gl.getAttribLocation(this.shaderProgram, "a_position");
				this.gl.enableVertexAttribArray(this.shaderProgram.a_position);

				this.shaderProgram.a_color = this.gl.getAttribLocation(this.shaderProgram, "a_color");
				this.gl.enableVertexAttribArray(this.shaderProgram.a_color);

				this.shaderProgram.u_mvp = this.gl.getUniformLocation(this.shaderProgram, "u_mvp");
			},

			getShader (shaderScript)
			{
				if (!shaderScript)
				{
					return null;
				}

				var str = "";
				var k = shaderScript.firstChild;
				while (k)
				{
					if (k.nodeType == 3)
					{
						str += k.textContent;
					}
					k = k.nextSibling;
				}

				var shader;
				if (shaderScript.type == "x-shader/x-fragment")
				{
					shader = this.gl.createShader(this.gl.FRAGMENT_SHADER);
				}
				else if (shaderScript.type == "x-shader/x-vertex")
				{
					shader = this.gl.createShader(this.gl.VERTEX_SHADER);
				}
				else
				{
					return null;
				}

				this.gl.shaderSource(shader, str);
				this.gl.compileShader(shader);

				if (!this.gl.getShaderParameter(shader, this.gl.COMPILE_STATUS))
				{
					alert(this.gl.getShaderInfoLog(shader));
					return null;
				}

				return shader;
			},

			reshape ()
			{
				this.gl.viewport(0, 0, this.$refs.canvas.width, this.$refs.canvas.height);
				let z = Math.max(this.$refs.canvas.width, this.$refs.canvas.height);
				this.projection = mat4.ortho(0.0, this.$refs.canvas.width, 0.0, this.$refs.canvas.height, -z, z);
			},

			calcTransform ()
			{
				var mvp = mat4.create();
				mat4.identity(mvp);
				mat4.scale(mvp, [this.scale, this.scale, this.scale], mvp);
				mat4.translate(mvp, [this.pivot.x, this.pivot.y, 0.0], mvp);
				mat4.multiply(this.projection, mvp, mvp);
				return mvp;
			},

			setTraces (traces)
			{
				let fourierMatrix = [];
				let complexPoints;
				let fourierCoefficients;

				for (let i = 0; i < traces[0].points.length; i++)
				{
					fourierMatrix[i] = [];

					for (let j = 0; j < traces.length; j++)
					{
						fourierMatrix[i][j] = new Complex(traces[j].points[i].x);
					}
				}

				// first transform

				for (let j = 0; j < fourierMatrix[0].length; j++)
				{
					complexPoints = [];
					for (let i = 0; i < fourierMatrix.length; i++)
					{
						complexPoints[i] = fourierMatrix[i][j];
					}

					fourierCoefficients = FourierTransform.getFourierCoefficients(complexPoints);

					for (let i = 0; i < fourierMatrix.length; i++)
					{
						fourierMatrix[i][j] = fourierCoefficients[i];
					}
				}

				// second transform

				for (let i = 0; i < fourierMatrix.length; i++)
				{
					complexPoints = [];
					for (let j = 0; j < fourierMatrix[i].length; j++)
					{
						complexPoints[j] = fourierMatrix[i][j];
					}

					fourierCoefficients = FourierTransform.getFourierCoefficients(complexPoints);

					for (let j = 0; j < fourierMatrix[i].length; j++)
					{
						fourierMatrix[i][j] = fourierCoefficients[j];
					}
				}

				// computing complex distance

				for (let i = 0; i < fourierMatrix.length; i++)
				{
					for (let j = 0; j < fourierMatrix[i].length; j++)
					{
						fourierMatrix[i][j] = fourierMatrix[i][j].getDistance();
					}
				}

				this.fourierMatrix = fourierMatrix;
				if (this.isComponentRendered == true)
				{
					this.updateSpectrumModel();
				}
			},

			render ()
			{
				this.gl.clear(this.gl.COLOR_BUFFER_BIT);
				this.gl.uniformMatrix4fv(this.shaderProgram.u_mvp, false, this.calcTransform());
				this.drawSpectrum();
				if (this.area)
				{
					this.drawArea();
				}
			},

			updateSpectrumModel ()
			{
				this.spectrumModel = {};
				let spectrumInfo = this.getSpectrumInfo(this.fourierMatrix);
				let vertices = spectrumInfo.vertices;
				let colors = spectrumInfo.colors;

				this.spectrumModel.verticesBuffer = this.gl.createBuffer();
				this.spectrumModel.colorBuffer = this.gl.createBuffer();
				this.spectrumModel.verticesBuffer.itemSize = 2;
				this.spectrumModel.colorBuffer.itemSize = 3;
				this.spectrumModel.triangleCount = vertices.length / this.spectrumModel.verticesBuffer.itemSize;

				this.gl.bindBuffer(this.gl.ARRAY_BUFFER, this.spectrumModel.verticesBuffer);
				this.gl.bufferData(this.gl.ARRAY_BUFFER, new Float32Array(vertices), this.gl.STATIC_DRAW);

				this.gl.bindBuffer(this.gl.ARRAY_BUFFER, this.spectrumModel.colorBuffer);
				this.gl.bufferData(this.gl.ARRAY_BUFFER, new Float32Array(colors), this.gl.STATIC_DRAW);

				this.render();
			},

			drawSpectrum ()
			{
				this.gl.bindBuffer(this.gl.ARRAY_BUFFER, this.spectrumModel.verticesBuffer);
				this.gl.vertexAttribPointer(this.shaderProgram.a_position, this.spectrumModel.verticesBuffer.itemSize, this.gl.FLOAT, false, 0, 0);

				this.gl.bindBuffer(this.gl.ARRAY_BUFFER, this.spectrumModel.colorBuffer);
				this.gl.vertexAttribPointer(this.shaderProgram.a_color, this.spectrumModel.colorBuffer.itemSize, this.gl.FLOAT, false, 0, 0);

				this.gl.drawArrays(this.gl.TRIANGLES, 0, this.spectrumModel.triangleCount);
			},

			getSpectrumInfo (fourierMatrix)
			{
				var colors = [];
				var vertices = [];

				var maxValue, minValue, midValue = 0;

				for (var i = 0; i < fourierMatrix.length; i++)
				{
					for (var j = 0; j < fourierMatrix[i].length; j++)
					{
						midValue += fourierMatrix[i][j];
						if (maxValue == undefined || fourierMatrix[i][j] > maxValue)
						{
							maxValue = fourierMatrix[i][j];
						}
						if (minValue == undefined || fourierMatrix[i][j] < minValue)
						{
							minValue = fourierMatrix[i][j];
						}
					}
				}

				midValue /= fourierMatrix.length * fourierMatrix[0].length;

				for (i = 0; i < fourierMatrix.length - 1; i++)
				{
					for (j = 0; j < fourierMatrix[i].length - 1; j++)
					{
						vertices.push(j * this.triangleWidth);
						vertices.push(i * this.triangleWidth);
						vertices.push(j * this.triangleWidth);
						vertices.push((i + 1) * this.triangleWidth);
						vertices.push((j + 1) * this.triangleWidth);
						vertices.push((i + 1) * this.triangleWidth);
						vertices.push((j + 1) * this.triangleWidth);
						vertices.push(i * this.triangleWidth);
						vertices.push(j * this.triangleWidth);
						vertices.push(i * this.triangleWidth);
						vertices.push((j + 1) * this.triangleWidth);
						vertices.push((i + 1) * this.triangleWidth);

						this.getColor(fourierMatrix[i][j], minValue, midValue, maxValue).forEach(value => colors.push(value));
						this.getColor(fourierMatrix[i + 1][j], minValue, midValue, maxValue).forEach(value => colors.push(value));
						this.getColor(fourierMatrix[i + 1][j + 1], minValue, midValue, maxValue).forEach(value => colors.push(value));
						this.getColor(fourierMatrix[i][j + 1], minValue, midValue, maxValue).forEach(value => colors.push(value));
						this.getColor(fourierMatrix[i][j], minValue, midValue, maxValue).forEach(value => colors.push(value));
						this.getColor(fourierMatrix[i + 1][j + 1], minValue, midValue, maxValue).forEach(value => colors.push(value));
					}
				}

				var info = {};
				info.vertices = vertices;
				info.colors = colors;
				return info;
			},

			getColor (value, minValue, midValue, maxValue)
			{
				//let midValue = (maxValue + minValue) / 2;
				let ratio;

				value = Math.pow(Math.log(value - minValue + 1) / Math.log(maxValue - minValue + 1), 3.0);
				//value = (value - minValue)/(maxValue - minValue);
				maxValue = 1.0;
				minValue = 0.0;
				midValue = 0.5;

				if (value < midValue)
				{
					ratio = Math.min((value - minValue) / (midValue - minValue), 1.0);
					return [ratio, ratio, 1.0 - ratio];
				}
				else
				{
					ratio = Math.min((maxValue - value) / (maxValue - midValue), 1.0);
					return [1.0, ratio, 0.0];
				}
			},

			setArea ()
			{
				let areaPointsWebGlView = [];
				for (let point of this.area.points)
				{
					areaPointsWebGlView.push(point.x);
					areaPointsWebGlView.push(point.y);
				}

				let colors = [];
				for (let i = 0; i < this.area.points.length * 4; i++)
				{
					colors.push(1.0);
				}

				this.area.verticesBuffer = this.gl.createBuffer();
				this.area.colorBuffer = this.gl.createBuffer();
				this.area.verticesBuffer.itemSize = 2;
				this.area.colorBuffer.itemSize = 4;

				this.gl.bindBuffer(this.gl.ARRAY_BUFFER, this.area.verticesBuffer);
				this.gl.bufferData(this.gl.ARRAY_BUFFER, new Float32Array(areaPointsWebGlView), this.gl.STATIC_DRAW);

				this.gl.bindBuffer(this.gl.ARRAY_BUFFER, this.area.colorBuffer);
				this.gl.bufferData(this.gl.ARRAY_BUFFER, new Float32Array(colors), this.gl.STATIC_DRAW);
			},

			drawArea ()
			{
				this.gl.bindBuffer(this.gl.ARRAY_BUFFER, this.area.verticesBuffer);
				this.gl.vertexAttribPointer(this.shaderProgram.a_position, this.area.verticesBuffer.itemSize, this.gl.FLOAT, false, 0, 0);
				this.gl.bindBuffer(this.gl.ARRAY_BUFFER, this.area.colorBuffer);
				this.gl.vertexAttribPointer(this.shaderProgram.a_color, this.area.colorBuffer.itemSize, this.gl.FLOAT, false, 0, 0);

				this.gl.drawArrays(this.gl.LINE_STRIP, 0, this.area.points.length);
			},

			updateCanvasEventListeners (cursorMode)
			{
				if (cursorMode == CursorMode.DRAGGING_SCENE)
				{
					this.$refs.canvas.onmousewheel = this.changeScaleEventListener.bind(this);
					this.$refs.canvas.onmousemove = this.dragSceneEventListener.bind(this);
					this.$refs.canvas.onmouseup = null;
				}
				else if (cursorMode == CursorMode.DRAWING_AREA)
				{
					this.$refs.canvas.onmousewheel = this.changeScaleEventListener.bind(this);
					//this.$refs.canvas.onmousemove = this.canvasOnMouseMove_DrawingArea.bind(this);
					//this.$refs.canvas.onmouseup = this.canvasOnMouseUp_DrawingSpectrumArea.bind(this);
				}
			},

			changeScaleEventListener (e)
			{
				e = window.event || e;
				var delta = Math.max(-1, Math.min(1, (e.wheelDelta || -e.detail)));

				this.scale += delta / 10.0 * this.scale;

				this.pivot.x = 0;
				this.pivot.y = 0;
			},

			dragSceneEventListener (e)
			{
				if (e.buttons == 1)
				{
					this.pivot.x += e.movementX / this.scale * this.$screenRatio;
					this.pivot.y -= e.movementY / this.scale * this.$screenRatio;
				}
			},

			updateCanvasSize ()
			{
				this.$refs.canvas.height = this.$refs.canvas.clientHeight * this.$screenRatio;
				this.$refs.canvas.width = this.$refs.canvas.clientWidth * this.$screenRatio;
				this.reshape();
			}

			// webglCanvasOnMouseMove_DrawingArea (e)
			// {
			// 	if (e.buttons == 1)
			// 	{
			// 		var rect = this.webglCanvas.getBoundingClientRect();
			// 		var canvasXofCursor = (e.clientX - rect.left) * ApplicationData.ratio;
			// 		var canvasYofCursor = this.webglCanvas.height + (rect.top - e.clientY) * ApplicationData.ratio;
			// 		var x = canvasXofCursor / this.scale - this.pivot.x;
			// 		var y = canvasYofCursor / this.scale - this.pivot.y;
			//
			// 		if (!this.area)
			// 		{
			// 			this.area = {};
			// 			this.area.points = [];
			// 		}
			//
			// 		var point = {};
			// 		point.x = x;
			// 		point.y = y;
			//
			// 		this.area.points.push(point);
			// 		this.setArea();
			// 		this.render();
			// 	}
			// },
			//
			// webglCanvasOnMouseUp_DrawingSpectrumArea ()
			// {
			// 	function rotate (A, B, C)
			// 	{
			// 		return (B.x - A.x) * (C.y - B.y) - (B.y - A.y) * (C.x - B.x);
			// 	}
			//
			// 	function getDistance (point1, point2)
			// 	{
			// 		return Math.sqrt(Math.pow(point1.x - point2.x, 2) + Math.pow(point1.y - point2.y, 2));
			// 	}
			//
			// 	function isPointInsideArea (point, areaPoints)
			// 	{
			// 		if (rotate(areaPoints[0], areaPoints[1], point) < 0 || rotate(areaPoints[0], areaPoints[areaPoints.length - 1], point) > 0)
			// 		{
			// 			return false;
			// 		}
			//
			// 		let left = 1;
			// 		let right = areaPoints.length - 1;
			// 		while (right - left > 1)
			// 		{
			// 			let mid = Math.floor((left + right) / 2);
			//
			// 			if (rotate(areaPoints[0], areaPoints[mid], point) < 0)
			// 			{
			// 				right = mid;
			// 			}
			// 			else
			// 			{
			// 				left = mid;
			// 			}
			//
			// 		}
			//
			// 		return rotate(areaPoints[0], point, areaPoints[left]) * rotate(areaPoints[0], point, areaPoints[right]) > 0 ||
			// 				rotate(areaPoints[left], areaPoints[right], areaPoints[0]) * rotate(areaPoints[left], areaPoints[right], point) > 0;
			// 	}
			//
			// 	let areaPoints = this.area.points;
			//
			// 	let delta = ApplicationData.ratio / this.scale * 5;
			//
			// 	let i = 0;
			// 	while (i < areaPoints.length - 1)
			// 	{
			// 		let j = i + 1;
			// 		while (j < areaPoints.length)
			// 		{
			// 			if (getDistance(areaPoints[i], areaPoints[j]) < delta)
			// 			{
			// 				areaPoints.splice(j, 1);
			// 			}
			// 			else
			// 			{
			// 				j++;
			// 			}
			// 		}
			// 		i++;
			// 	}
			//
			//
			// 	for (let i = 1; i < areaPoints.length; i++)
			// 	{
			// 		if (areaPoints[i].x < areaPoints[0].x)
			// 		{
			// 			let tmp = areaPoints[i];
			// 			areaPoints[i] = areaPoints[0];
			// 			areaPoints[0] = tmp;
			// 		}
			// 	}
			//
			// 	let startPoint = {};
			// 	startPoint.x = areaPoints[0].x;
			// 	startPoint.y = areaPoints[0].y;
			//
			// 	areaPoints.splice(0, 1);
			// 	areaPoints.sort(function (p1, p2)
			// 	{
			// 		let r = rotate(startPoint, p1, p2);
			// 		if (r < 0)
			// 		{
			// 			return 1;
			// 		}
			// 		return -1;
			// 	});
			//
			// 	areaPoints.splice(0, 0, startPoint);
			//
			// 	let pointStack = [];
			// 	pointStack.push(areaPoints[0]);
			// 	pointStack.push(areaPoints[1]);
			//
			//
			// 	for (let i = 2; i < areaPoints.length; i++)
			// 	{
			// 		let r;
			// 		while ((r = rotate(pointStack[pointStack.length - 2], pointStack[pointStack.length - 1], areaPoints[i])) < 0)
			// 		{
			// 			console.log(r);
			// 			pointStack.splice(pointStack.length - 1, 1);
			// 		}
			// 		console.log(r);
			// 		pointStack.push(areaPoints[i]);
			// 	}
			//
			//
			// 	areaPoints = this.area.points = pointStack;
			//
			// 	for (let i = 0; i < this.spectrum.fourierMatrix.length; i++)
			// 	{
			// 		for (let j = 0; j < this.spectrum.fourierMatrix[i].length; j++)
			// 		{
			// 			if (isPointInsideArea ({x: j * this.spectrum.triangleWidth, y: i * this.spectrum.triangleWidth}, areaPoints))
			// 			{
			// 				this.spectrum.fourierMatrix[i][j] = 0;
			// 			}
			// 		}
			// 	}
			//
			// 	this.area = undefined;
			// 	this.setFourierMatrix(this.spectrum.fourierMatrix);
			// 	this.render();
			// }
		}
	}
</script>

<style scoped>

	#root {
		background-color: white;
		border: 2px solid black;
		position: absolute;
		left: 50px;
		top: 50px;
		z-index: 200;
		width: 1500px;
		height: 620px;
	}

	#canvas {
		width: 1500px;
		height: 600px;
	}

</style>