<template>
	<div id="filters-div-wrapper">
		<div id="filters-div">
			<div id="filters-main-handle">
				<button id="partial-apply-filters-button"
						class="filters-button"
						@click="partialApplyFilters">
					<img class="filters-button-icon"
						 src="/assets/play.png">
				</button>
				<button id="full-apply-filters-button"
						class="filters-button">
					<img class="filters-button-icon"
						 src="/assets/playback.png">
				</button>
				<button>
					Prev
				</button>
				<button>
					Next
				</button>
				<button @click="groupSelectedComponents">
					Group
				</button>
				<br>
				<label for="filter-select">Choose filter: </label>
				<select ref="filterSelect"
						id="filter-select">
					<option v-for="filterComponent in availableFilters"
							:value="filterComponent.name">
						{{filterComponent.filterName}}
					</option>
				</select>
				<div id="add-edit-filters-buttons">
					<button id="add-filter-button"
							class="filters-button"
							@click="addFilter($refs.filterSelect.value)">
						<img class="filters-button-icon"
							 src="/assets/plus.png">
					</button>
					<button id="edit-filters-button"
							class="filters-button">
						<img class="filters-button-icon"
							 src="/assets/edit.png">
					</button>
				</div>
			</div>

			<div ref="filtersContainer">
				<component v-for="(node, index) in processingGraphNodes"
						   :is="node.name"
						   :key="node.id"
						   v-bind="node.config"
						   ref="processingGraphNodes"
						   @remove-filter="removeFilter(index)">
				</component>
			</div>

		</div>
	</div>
</template>

<script>

	import {filterComponentsObject, filterComponentsArray} from '../utils/filterComponentList'
	import FilterGroup from './FilterGroup'

	export default
	{
		name: "ProcessingGraph",

		components: Object.assign(filterComponentsObject, {
			'FilterGroup': FilterGroup
		}),

		data ()
		{
			return {
				availableFilters: filterComponentsArray,
				processingGraphNodes: [],
				maxNodeId: -1
			}
		},

		methods: {
			addFilter (filterName)
			{
				let filterObject = {
					id: this.getNextNodeId(),
					name: filterName,

				};

				this.processingGraphNodes.push(filterObject);
			},

			getNextNodeId ()
			{
				this.maxNodeId++;
				return this.maxNodeId;
			},

			removeFilter (index)
			{
				this.processingGraphNodes.splice(index, 1);
			},

			groupSelectedComponents ()
			{
				// todo Checking if groups isn't selected and selected count > 1

				groupIndex = null;

				for (let i = 0; i < this.$refs.processingGraphNodes.length; i++)
				{

				}
			}
		}
	}
</script>

<style scoped>

	#filters-div-wrapper {
		--icon-width: 20px;
		--icon-height: 20px;
	}

	#filters-main-handle {
		width: 360px;
		margin: auto;
		margin-bottom: 20px;
		height: var(--draw-handle-height);
	}

	#partial-apply-filters-button {
		margin-top: 12px;
		margin-bottom: 12px;
	}

	#full-apply-filters-button {
		margin-top: 12px;
		margin-bottom: 12px;
	}

	#filters-main-handle > select {
		display: inline;
		width: 170px;
		height: 25px;
		font-size: 14px;
		margin-left: 8px;
	}

	#filters-main-handle > label {
		display: inline;
	}

	#add-edit-filters-buttons {
		display: inline-block;
		position: absolute;
		right: 25px;
	}

	.filters-button {
		box-sizing: border-box;
		display: inline;
		background-color: transparent;
		border: none;
		outline: none;
		margin-left: 10px;
		text-align: center;
	}

	.filters-button:hover {
		cursor: pointer;
	}

	.filters-button-icon {
		height: var(--icon-height);
		width: var(--icon-width);
	}

	#filters-div-wrapper {
		background-color: rgb(237, 238, 240);
		position: absolute;
		top: calc(var(--header-height) + 10px);
		right: 0;
		width: 410px;
		height: calc(var(--draw-handle-height) + var(--seismogram-div-height) + var(--seis-information-height) + 20px);
		z-index: 30;
	}

	#filters-div {
		background-color: white;
		width: 400px;
		height: calc(var(--draw-handle-height) + var(--seismogram-div-height) + var(--seis-information-height) + 20px);;
		box-sizing: border-box;
		border: 1px solid var(--border-color);
		font-size: 15px;
	}

</style>