<template>
	<div>
		<div id="seismogram-div">

			<script ref="fragmentShader" type="x-shader/x-fragment">
				precision mediump float;
				uniform vec4 u_color;
				void main(void)
				{
					gl_FragColor = u_color;
				}
			</script>

			<script ref="vertexShader" type="x-shader/x-vertex">
				attribute vec2 a_position;
				uniform mat4 u_mvp;
				void main(void)
				{
				   gl_Position = u_mvp * vec4(a_position, 0.0, 1.0);
				}
			</script>

			<canvas ref="seismogramCanvas" id="seismogram-canvas"></canvas>
			<canvas ref="axesCanvas" id="axes-canvas"></canvas>
		</div>

		<div id="seis-information">
			<table class="seis-information-table">
				<tr>
					<td @click="sortingTraceField = TraceField.SEQUENCE_SEISMOGRAM_NUMBER">SN</td>
					<td @click="sortingTraceField = TraceField.FIELD_SEISMOGRAM_NUMBER">FN</td>
					<td @click="sortingTraceField = TraceField.SHOT_POINT_NUMBER">SPN</td>
					<td @click="sortingTraceField = TraceField.SHOT_POINT">SP</td>
					<td @click="sortingTraceField = TraceField.DEPTH_POINT">DP</td>
					<td @click="sortingTraceField = TraceField.OFFSET_POINT">OP</td>
					<td @click="sortingTraceField = TraceField.OFFSET_POINT_DISTANCE">OPD</td>
				</tr>

				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>

			<table class="seis-information-table">
				<tr>
					<td>scale X</td>
					<td>scale T</td>
					<td>trace indent</td>
					<td>time</td>
					<td>trace max count</td>
				</tr>

				<tr>
					<td>
						<input type="number" min="0.2" step="0.2" v-model="userScaleX">
					</td>
					<td>
						<input type="number" min="0.2" step="0.2" v-model="userScaleT">
					</td>
					<td>
						<input type="number" min="0.2" step="0.2" v-model="userTraceIndentScale">
					</td>
					<td>
						<input type="number" min="0" step="100" v-model="tMin">
						<input type="number" min="0" step="100" v-model="tMax">
					</td>
					<td>
						<input type="number" min="0" step="10" v-model="traceMaxCount">
					</td>
				</tr>
			</table>
		</div>
	</div>
</template>

<script>

	import TraceField from '../core/TraceField'

	class CursorMode {}
	CursorMode.DRAGGING_SCENE = 0;
	CursorMode.DRAWING_SPECTRUM_AREA = 1;

	export default
	{
		name: 'SeismogramScene',
		data ()
		{
			return {
				scale: 0.03,

				pivot: {
					x: 0,
					y: 0
				},

				TraceField: TraceField,

				baseScaleT: -100000,
				baseTraceIndent: 1000,
				userScaleX: 1,
				userScaleT: 1,
				userTraceIndentScale: 1,
				traceMaxCount: 0,
				tMin: 0,
				tMax: 1000,
				sortingTraceField: TraceField.SHOT_POINT,

				cursorMode: CursorMode.DRAGGING_SCENE
			}
		},

		watch: {
			scale ()
			{
				this.fitToScreen();
				this.render();
			},

			pivot: {
				deep: true,
				handler: function ()
				{
					this.updateAxes();
					this.render();
				}
			},

			userScaleX ()
			{
				if (this.traces)
				{
					this.updateAxes();
					this.updateWebglTracesDrawView();
				}
			},

			userScaleT ()
			{
				if (this.traces)
				{
					this.updateAxes();
					this.updateWebglTracesDrawView();
				}
			},

			userTraceIndentScale ()
			{
				if (this.traces)
				{
					this.updateAxes();
					this.updateWebglTracesDrawView();
				}
			},

			traceMaxCount ()
			{
				if (this.traces)
				{
					this.updateWebglTracesDrawView();
				}
			},

			tMin ()
			{
				if (this.traces)
				{
					this.updateWebglTraces();
				}
			},

			tMax ()
			{
				if (this.traces)
				{
					this.updateWebglTraces();
				}
			},

			sortingTraceField ()
			{
				if (this.traces)
				{
					this.updateWebglTraces();
				}
			}

		},

		mounted ()
		{
			// this.$refs.seismogramCanvas.height = this.$refs.seismogramCanvas.clientHeight * this.$screenRatio;
			// this.$refs.seismogramCanvas.width = this.$refs.seismogramCanvas.clientWidth * this.$screenRatio;

			this.$watch('cursorMode', this.updateCanvasEventListeners, {
				immediate: true
			});

			this.initGl();
			this.initShaders();
			this.updateWebglCanvasSize();
		},

		methods: {
			initGl ()
			{
				let webglNames = ["experimental-webgl", "webgl", "webkit-3d", "moz-webgl"];
				this.gl = null;
				for (var i = 0; i < webglNames.length; i++)
				{
					try
					{
						this.gl = this.$refs.seismogramCanvas.getContext(webglNames[i]);
					}
					catch (e)
					{
					}
					if (this.gl)
					{
						break;
					}
				}

				if (!(this.gl))
				{
					alert("Your browser is not WebGL capable");
				}

				this.gl.clearColor(1.0, 1.0, 1.0, 1.0);
			},

			initShaders ()
			{
				var vertexShader = this.getShader(this.$refs.vertexShader);
				var fragmentShader = this.getShader(this.$refs.fragmentShader);

				this.shaderProgram = this.gl.createProgram();
				this.gl.attachShader(this.shaderProgram, vertexShader);
				this.gl.attachShader(this.shaderProgram, fragmentShader);
				this.gl.linkProgram(this.shaderProgram);

				if (!this.gl.getProgramParameter(this.shaderProgram, this.gl.LINK_STATUS))
				{
					console.error("Could not initialize shaders");
				}

				this.gl.useProgram(this.shaderProgram);

				this.shaderProgram.a_position = this.gl.getAttribLocation(this.shaderProgram, "a_position");
				this.shaderProgram.u_mvp = this.gl.getUniformLocation(this.shaderProgram, "u_mvp");
				this.shaderProgram.u_color = this.gl.getUniformLocation(this.shaderProgram, "u_color");

				this.gl.enableVertexAttribArray(this.shaderProgram.a_position);
			},

			getShader (shaderScript)
			{
				if (!shaderScript)
				{
					return null;
				}

				var str = "";
				var k = shaderScript.firstChild;
				while (k)
				{
					if (k.nodeType == 3)
					{
						str += k.textContent;
					}
					k = k.nextSibling;
				}

				var shader;
				if (shaderScript.type == "x-shader/x-fragment")
				{
					shader = this.gl.createShader(this.gl.FRAGMENT_SHADER);
				}
				else if (shaderScript.type == "x-shader/x-vertex")
				{
					shader = this.gl.createShader(this.gl.VERTEX_SHADER);
				}
				else
				{
					return null;
				}

				this.gl.shaderSource(shader, str);
				this.gl.compileShader(shader);

				if (!this.gl.getShaderParameter(shader, this.gl.COMPILE_STATUS))
				{
					alert(this.gl.getShaderInfoLog(shader));
					return null;
				}

				return shader;
			},

			reshape ()
			{
				this.gl.viewport(0, 0, this.$refs.seismogramCanvas.width, this.$refs.seismogramCanvas.height);
				let z = Math.max(this.$refs.seismogramCanvas.width, this.$refs.seismogramCanvas.height);
				this.projection = mat4.ortho(0.0, this.$refs.seismogramCanvas.width, 0.0, this.$refs.seismogramCanvas.height, -z, z);
			},

			calcTransform ()
			{
				var mvp = mat4.create();
				mat4.identity(mvp);
				mat4.scale(mvp, [this.scale, this.scale, this.scale], mvp);
				mat4.translate(mvp, [this.pivot.x, this.pivot.y, 0.0], mvp);
				mat4.multiply(this.projection, mvp, mvp);
				return mvp;
			},

			fitToScreen ()
			{
				this.pivot.x = -this.bbox.x;
				this.pivot.y = -this.bbox.y + (this.$refs.seismogramCanvas.height / this.scale - this.bbox.height);
				this.updateAxes();
			},

			setTraces (traces)
			{
				this.traces = traces;
				this.updateWebglTraces();
			},

			drawTracesModels ()
			{
				for (let traceModel of this.tracesModels)
				{
					this.gl.uniform4fv(this.shaderProgram.u_color, traceModel.color);
					this.gl.bindBuffer(this.gl.ARRAY_BUFFER, traceModel.verticesBuffer);
					this.gl.vertexAttribPointer(this.shaderProgram.a_position, 2, this.gl.FLOAT, false, traceModel.vertexLength * 4, 0);
					if (traceModel.trianglesIndicesBuffer)
					{
						this.gl.bindBuffer(this.gl.ELEMENT_ARRAY_BUFFER, traceModel.trianglesIndicesBuffer);
						this.gl.drawElements(this.gl.TRIANGLES, traceModel.trianglesIndicesBuffer.indexCount, this.gl.UNSIGNED_SHORT, 0);
					}
					this.gl.drawArrays(this.gl.LINE_STRIP, 0, traceModel.vertexCount);
				}
			},

			render ()
			{
				this.gl.clear(this.gl.COLOR_BUFFER_BIT);
				this.gl.uniformMatrix4fv(this.shaderProgram.u_mvp, false, this.calcTransform());
				this.drawTracesModels();
			},

			// TODO change this method
			updateAxes ()
			{
				function getAxeDivisionValue (value)
				{
					var degree = 0;
					if (value < 1)
					{
						while (value < 1)
						{
							value *= 10;
							degree++;
						}
						return Math.floor(value) / Math.pow(10, degree);
					}
					else
					{
						while (value > 1)
						{
							value /= 10;
							degree++;
						}
						return Math.floor(value * 10) * Math.pow(10, degree - 1);
					}
				}

				let webglCanvas = this.$refs.seismogramCanvas;
				let axesCanvas = this.$refs.axesCanvas;

				var canvasMarginLeft = webglCanvas.getBoundingClientRect().left - axesCanvas.getBoundingClientRect().left;
				var canvasMarginTop = webglCanvas.getBoundingClientRect().top - axesCanvas.getBoundingClientRect().top;
				var ctx = axesCanvas.getContext("2d");
				ctx.clearRect(0, 0, axesCanvas.width, axesCanvas.height);
				ctx.font = 10 * this.$screenRatio + "px Arial";
				var count = 10;

				var marginX = this.baseTraceIndent * this.userTraceIndentScale;
				var scaleT = this.baseScaleT * this.userScaleT;

				var valueOfDivision = getAxeDivisionValue(webglCanvas.width / (this.scale * this.userScaleX * count));
				var number;
				var left;
				if (-this.pivot.x / valueOfDivision < 0)
				{
					left = Math.floor(-this.pivot.x / valueOfDivision / this.userScaleX) * valueOfDivision;
				}
				else
				{
					left = Math.ceil(-this.pivot.x / valueOfDivision / this.userScaleX) * valueOfDivision;
				}

				var right = (webglCanvas.width / this.scale - this.pivot.x) / this.userScaleX;
				for (number = left; number < right; number += valueOfDivision)
				{
					ctx.fillText("" + number, (number * this.userScaleX + this.pivot.x) * this.scale +
							canvasMarginLeft + 0.5 * ctx.measureText("" + number).width, 12 * this.$screenRatio);
				}

				valueOfDivision = getAxeDivisionValue(webglCanvas.height / (-this.scale * scaleT * count));
				var top = Math.round((webglCanvas.height / this.scale - this.pivot.y) / scaleT * marginX) / marginX;
				var bot = -this.pivot.y / scaleT;
				for (number = top; number < bot; number += valueOfDivision)
				{
					ctx.fillText(number.toFixed(3), 10, webglCanvas.height - (number * scaleT + this.pivot.y) *
							this.scale + this.$screenRatio * canvasMarginTop + 10);
				}
			},

			updateCanvasEventListeners (cursorMode)
			{
				if (cursorMode == CursorMode.DRAGGING_SCENE)
				{
					this.$refs.seismogramCanvas.onmousewheel = this.changeScaleEventListener.bind(this);
					this.$refs.seismogramCanvas.onmousemove = this.dragSceneEventListener.bind(this);
					this.$refs.seismogramCanvas.onmouseup = null;
				}
				else if (cursorMode == CursorMode.DRAWING_SPECTRUM_AREA)
				{
					this.$refs.seismogramCanvas.onmousewheel = this.changeScaleEventListener.bind(this);
					//this.$refs.seismogramCanvas.onmousemove = this.canvasOnMouseMove_DrawingArea.bind(this);
					//this.$refs.seismogramCanvas.onmouseup = this.canvasOnMouseUp_DrawingSpectrumArea.bind(this);
				}
			},

			changeScaleEventListener (e)
			{
				e = window.event || e;
				var delta = Math.max(-1, Math.min(1, (e.wheelDelta || -e.detail)));

				this.scale += delta / 10.0 * this.scale;

				this.pivot.x = 0;
				this.pivot.y = 0;
			},

			dragSceneEventListener (e)
			{
				if (e.buttons == 1)
				{
					this.pivot.x += e.movementX / this.scale * this.$screenRatio;
					this.pivot.y -= e.movementY / this.scale * this.$screenRatio;
				}
			},

			// TODO change this method
			updateWebglCanvasSize ()
			{
				var canvas = this.$refs.seismogramCanvas;
				var axesCanvas = this.$refs.axesCanvas;
				var pictureDiv = document.getElementById("seismogram-div");
				var canvasMarginLeft = canvas.getBoundingClientRect().left - axesCanvas.getBoundingClientRect().left;
				var canvasMarginTop = canvas.getBoundingClientRect().top - axesCanvas.getBoundingClientRect().top;
				axesCanvas.style.width = pictureDiv.clientWidth + "px";
				axesCanvas.style.height = pictureDiv.clientHeight + "px";
				canvas.style.width = pictureDiv.clientWidth - canvasMarginLeft + "px";
				canvas.style.height = pictureDiv.clientHeight - canvasMarginTop + "px";
				axesCanvas.width = pictureDiv.clientWidth * this.$screenRatio;
				axesCanvas.height = pictureDiv.clientHeight * this.$screenRatio;
				canvas.width = (pictureDiv.clientWidth - canvasMarginLeft) * this.$screenRatio;
				canvas.height = (pictureDiv.clientHeight - canvasMarginTop) * this.$screenRatio;
				this.reshape();
			},

			updateWebglTraces ()
			{
				this.webglTraces = this.traces.map(trace => trace.getWebglView(this.tMin, this.tMax));

				this.webglTraces.sort((trace1, trace2) =>
				{
					if (trace1[this.sortingTraceField] < trace2[this.sortingTraceField])
					{
						return -1;
					}
					if (trace1[this.sortingTraceField] > trace2[this.sortingTraceField])
					{
						return 1;
					}
					if (trace1["offsetPointDistance"] < trace2["offsetPointDistance"])
					{
						return -1;
					}
					if (trace1["offsetPointDistance"] > trace2["offsetPointDistance"])
					{
						return 1;
					}
					return 0;
				});

				this.updateWebglTracesDrawView();
			},

			updateWebglTracesDrawView ()
			{
				let traceCount;
				if (this.traceMaxCount != 0 &&
						this.traceMaxCount < this.webglTraces.length)
				{
					traceCount = this.traceMaxCount;
				}
				else
				{
					traceCount = this.webglTraces.length;
				}

				this.webglTracesDrawView = [];

				for (let i = 0; i < traceCount; i++)
				{
					this.webglTracesDrawView.push(this.webglTraces[i].clone());
				}

				let currentIndentX = 0;
				let scaleX = this.userScaleX;
				let scaleT = this.baseScaleT * this.userScaleT;
				let marginX = this.baseTraceIndent * this.userTraceIndentScale;

				for (let j = 0; j < this.webglTracesDrawView.length; j++)
				{
					for (let i = 0; i < this.webglTracesDrawView[j].points.length; i += 2)
					{
						this.webglTracesDrawView[j].points[i] = this.webglTracesDrawView[j].points[i] * scaleX + currentIndentX;
						this.webglTracesDrawView[j].points[i + 1] *= scaleT;
					}

					this.webglTracesDrawView[j].updateBbox();
					currentIndentX += marginX;
				}

				this.updateTracesModels();
			},

			updateTracesModels ()
			{
				this.tracesModels = [];

				for (let trace of this.webglTracesDrawView)
				{
					let traceModel = {};
					traceModel.verticesBuffer = this.gl.createBuffer();
					this.gl.bindBuffer(this.gl.ARRAY_BUFFER, traceModel.verticesBuffer);
					this.gl.bufferData(this.gl.ARRAY_BUFFER, new Float32Array(trace.points), this.gl.STATIC_DRAW);
					traceModel.vertexLength = 2;
					traceModel.vertexCount = trace.points.length / traceModel.vertexLength;

					if (trace.trianglesVertices.length > 0)
					{
						traceModel.trianglesIndicesBuffer = this.gl.createBuffer();
						this.gl.bindBuffer(this.gl.ELEMENT_ARRAY_BUFFER, traceModel.trianglesIndicesBuffer);
						this.gl.bufferData(this.gl.ELEMENT_ARRAY_BUFFER, new Uint16Array(trace.trianglesVertices), this.gl.STATIC_DRAW);
						traceModel.trianglesIndicesBuffer.indexCount = trace.trianglesVertices.length;
					}

					this.bbox = {
						x: this.bbox == null ? trace.bbox.x : Math.min(this.bbox.x, trace.bbox.x),

						y: this.bbox == null ? trace.bbox.y : Math.min(this.bbox.y, trace.bbox.y),

						width: this.bbox == null ? trace.bbox.width :
								Math.max(this.bbox.x + this.bbox.width, trace.bbox.x + trace.bbox.width) -
								Math.min(this.bbox.x, trace.bbox.x),

						height: this.bbox == null ? trace.bbox.height :
								Math.max(this.bbox.y + this.bbox.height, trace.bbox.y + trace.bbox.height) -
								Math.min(this.bbox.y, trace.bbox.y)
					};

					traceModel.color = new Float32Array([0.0, 0.0, 0.0, 1.0]);
					this.tracesModels.push(traceModel);
				}

				this.fitToScreen();
				this.render();
			}
		}
	}
</script>

<style scoped>

	#seismogram-div {
		background-color: white;
		margin-top: 10px;
		margin-left: 10px;
		display: block;
		height: 600px;
		width: calc(100% - 430px);
		min-width: 768px;
		position: relative;
		box-sizing: border-box;
		border: 1px solid var(--border-color);
	}

	#seismogram-canvas {
		position: absolute;
		top: 22px;
		left: 40px;
		height: calc(100% - 22px);
		width: calc(100% - 40px);
		z-index: 2;
	}

	#axes-canvas {
		position: absolute;
		top: 0;
		left: 0;
	}

	#seis-information{
		background-color: white;
		margin-top: 10px;
		margin-left: 10px;
		width: calc(100% - 430px);
		min-width: 768px;
		height:var(--seis-information-height);
		box-sizing: border-box;
		border: 1px solid var(--border-color);
	}

	.seis-information-table{
		display: inline-block;
		margin-left: 0.5%;
		margin-top: 5px;
		background-color: rgb(147, 203, 214);
	}

	.seis-information-table td{
		cursor: hand;
		text-align: center;
		width: 50px;
		height: 23px;
		background-color: rgb(234, 249, 252);
	}

</style>