<template>
	<div ref="root">
		<div id="draw-handle-wrapper">
			<div id="draw-handle">
				<input type="button"
					   value="draw seismogram"
					   @click="drawSeismogram">

				<input type="button"
					   value="fk spectrum"
					   @click="buildFkSpectrum">
			</div>
		</div>

		<seismogram-scene ref="seismogramScene"></seismogram-scene>

		<processing-graph></processing-graph>
	</div>
</template>

<script>
	import SeismogramScene from './SeismogramScene';
	import ProcessingGraph from './ProcessingGraph';
	import FkSpectrum from './FkSpectrum';
	import Vue from 'vue';
	import axios from 'axios';
	import Trace from '../core/Trace'

	export default
	{
		name: 'SeismogramComponent',

		components: {SeismogramScene, FkSpectrum, ProcessingGraph},

		data ()
		{
			return {
				treeComponent: null,
				instance: {}
			}
		},

		watch: {
			'instance.isComponentRendered': {
				handler: function (newValue, oldValue)
				{
					if (newValue == true && oldValue == false)
					{
						this.$refs.root.appendChild(this.instance.$el);
						this.instance.updateCanvasSize();
					}
				}
			}
		},

		methods: {
			buildFkSpectrum ()
			{
				let traces = this.$refs.seismogramScene.traces;

				if (traces == null)
				{
					alert('Для построения Fk-спектра визуализируйте сейсмограмму!');
					return;
				}

				let ComponentClass = Vue.extend(FkSpectrum);
				this.instance = new ComponentClass({
					parent: this
				});
				this.instance.$mount();

				this.instance.setTraces(traces);
			},
			drawSeismogram ()
			{
				let seismogramId;

				try
				{
					seismogramId = this.treeComponent.getSelectedSeismogramId();
				}
				catch (message)
				{
					alert(message);
					return;
				}

				let seismogramScene = this.$refs.seismogramScene;
				axios.post(`/get_seismogram_traces?seismogram_id=${seismogramId}&sorting_field_name=sequenceSeismogramNumber`)
						.then(function (response) {
							let traceObjects = response.data;
							let traces = traceObjects.map(traceObject => new Trace(traceObject));
							seismogramScene.setTraces(traces);
						})
						.catch(error => console.log(error));
			},

			setTreeComponent (treeComponent)
			{
				this.treeComponent = treeComponent;
			},

			removeFilter (data)
			{
				console.log(data);
			}
		}
	}
</script>

<style scoped>

	#draw-handle-wrapper{
		background-color: white;
		margin-top: 10px;
		margin-left: 10px;
		width: calc(100% - 430px);
		min-width: 768px;
		height: var(--draw-handle-height);
		box-sizing: border-box;
		border: 1px solid var(--border-color);
	}

	#draw-handle{
		width: 99%;
		margin: auto;
		height: var(--draw-handle-height);
	}



</style>