<template>
	<div ref="root"
		 id="tree-div-wrapper">

		<div id="tree-div">
			<button title="Add directory"
					type="button"
					class="tree-control-button"
					@click="openAddDirectoryDialog">

				<img class="tree-control-button-icon"
					 src="/assets/addDirectory.png">
			</button>

			<button title="Add seismogram"
					type="button"
					class="tree-control-button"
					@click="openAddSeismogramDialog">

				<img class="tree-control-button-icon"
					 src="/assets/addProfile.png">
			</button>

			<div id="jstree">
			</div>
		</div>
		<div id="tree-information">
		</div>

	</div>
</template>

<script>

	import Vue from 'vue'
	import AddDirectoryDialog from './AddDirectoryDialog'
	import AddSeismogramDialog from './AddSeismogramDialog'
	import JsTreeNodeType from '../core/JsTreeNodeType'

	export default
	{
		name: 'TreeComponent',

		data ()
		{
			return {
			}
		},

		components: {
			AddDirectoryDialog,
			AddSeismogramDialog
		},

		mounted ()
		{
			this.container = $("#jstree");
			this.init();
		},
		
		methods: {
			init ()
			{
				var container = this.container;
				$.ajax({
					url: "/get_all_file_objects",
					type: "post",
					datatype: "json",
					success: function (result)
					{
						var jsonResult = JSON.parse(result);
						container.jstree(jsonResult);
					},
					error: function (xhr)
					{
						console.log(xhr.responseText);
					}
				});
			},

			addNode (id, parent, text, type)
			{
				var node = {
					"id": id,
					"text": text,
					"type": type
				};

				this.container.jstree().create_node(parent, node);
			},

			getSelectedNodes ()
			{
				return this.container.jstree("get_selected", true);
			},

			deselectAllNodes ()
			{
				this.container.jstree("deselect_all");
			},

			getPath (node)
			{
				return this.container.jstree("get_path", node, "/", false);
			},

			getNodeType (node)
			{
				return this.container.jstree("get_type", node);
			},

			getNodeId (node)
			{
				return parseInt(node["li_attr"]["id"].substring(this.getNodeType(node).length));
			},

			getSelectedSeismogramId ()
			{
				let selectedNodes = this.getSelectedNodes();

				if (selectedNodes.length == 0)
				{
					throw 'Выберите сейсмограму';
				}

				if (selectedNodes.length != 1)
				{
					this.deselectAllNodes();
					throw 'Выберите один файл';
				}

				let selectedNode = selectedNodes[0];
				let selectedNodeType = this.getNodeType(selectedNode);

				if (selectedNodeType != JsTreeNodeType.BASE_SEISMOGRAM &&
						selectedNodeType != JsTreeNodeType.FILTERED_SEISMOGRAM &&
						selectedNodeType != JsTreeNodeType.SUM_SEISMOGRAM)
				{
					this.deselectAllNodes();
					throw 'Выберите сейсмограму';
				}

				return this.getNodeId(selectedNode);
			},

			openAddDirectoryDialog ()
			{
				let AddDirectoryDialogClass = Vue.extend(AddDirectoryDialog);
				let AddDirectoryDialogInstance = new AddDirectoryDialogClass({});
				AddDirectoryDialogInstance.$mount();
				this.$refs.root.appendChild(AddDirectoryDialogInstance.$el);
			},

			openAddSeismogramDialog ()
			{
				let AddSeismogramDialogClass = Vue.extend(AddSeismogramDialog);
				let AddSeismogramDialogInstance = new AddSeismogramDialogClass({});
				AddSeismogramDialogInstance.$mount();
				this.$refs.root.appendChild(AddSeismogramDialogInstance.$el);
			}
		}
	}
</script>

<style scoped>

	#tree-div-wrapper{
		background-color: rgb(237,238,240);
		width: calc(100% - 2px);
		position: absolute;
		z-index: 40;
		height: calc(100% - var(--header-height) - 2px);
		top: 60px;
		border: 1px solid var(--add-file-border);
		min-width: 1000px;
	}

	#tree-div{
		display: inline-block;
		width: 29%;
		height: calc(100% - 20px);
		position: absolute;
		left:10px;
		top: 10px;
		background-color: white;
		box-sizing: border-box;
		border: 1px solid var(--border-color);
		min-width: 300px;
	}

	#tree-information{
		display: inline-block;
		width: calc(70% - 12px);
		height: calc(100% - 20px);
		position: absolute;
		right:10px;
		top: 10px;
		background-color: white;
		box-sizing: border-box;
		border: 1px solid var(--border-color);
		min-width: 700px;
	}

	.tree-control-button{
		box-sizing: border-box;
		display: inline;
		background-color: transparent;
		border: none;
		outline: none;
		margin-left: 10px;
		text-align: center;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.tree-control-button:hover{
		cursor: pointer;
	}

	.tree-control-button-icon{
		height: 30px;
		width: 30px;
	}
</style>