<template>
	<div class="filter-wrapper-div">
		<div>
			<div class="filter-name-div">Frequency Rejection</div>
			<div class="filter-handle-div">
				<button class="filter-settings-button">
					<img class="filter-settings-button-icon"
						 src="/assets/settings.png">
				</button>
				<button class="filter-remove-button"
						@click="$emit('remove-filter')">
					<img class="filter-remove-button-icon"
						 src="/assets/minus.png">
				</button>
			</div>
		</div>
		<div class="filter-settings">
			<table class="filter-settings-table">
				<tr>
					<td>
						Sorting field
					</td>
					<td>
						<select ref="sortingTraceFieldSelect">
							<option v-for="field in sortingTraceFields"
									:value="field.value">
								{{field.text}}
							</option>
						</select>
					</td>

					<slot name="select"></slot>
				</tr>
				<tr>
					<td>
						Frequency
					</td>
					<td>
						<input ref="frequencyInputText"
							   type="text"
							   v-model="frequency">
					</td>
				</tr>
				<tr>
					<td>
						Bandwidth
					</td>
					<td>
						<input ref="bandwidthInputText"
							   type="text"
							   v-model="bandwidth">
					</td>
				</tr>
			</table>
		</div>
	</div>
</template>

<script>

	import filterMixin from '../../mixins/filter'

	export default
	{
		name: 'FrequencyRejectionFilter',

		filterName: 'Режекция',

		mixins: [filterMixin],

		data ()
		{
			return {
				frequency: null,
				bandwidth: null
			}
		},

		methods: {
			toJson ()
			{
				return {
					filter_class_name: this.$options.name,
					sorting_trace_field: this.$refs.sortingTraceFieldSelect.value,
					arguments: [
						this.$refs.frequencyInputText.value,
						this.$refs.bandwidthInputText.value
					]
				};
			}
		}
	}
</script>

<style scoped>

	.filter-wrapper-div{
		width: 360px;
		margin: auto;
		margin-top: 20px;
	}

	.filter-name-div{
		display: inline-block;;
	}

	.filter-handle-div{
		display: inline-block;
		position: absolute;
		right: 25px;
	}

	.filter-settings-button{
		background-color: transparent;
		border: none;
		outline: none;
		margin-left: 10px;
	}

	.filter-settings-button:hover{
		cursor: pointer;
	}

	.filter-settings-button-icon{
		height: 20px;
		width: 20px;
	}

	.filter-remove-button{
		background-color: transparent;
		border: none;
		outline: none;
		margin-left: 10px;
	}

	.filter-remove-button:hover{
		cursor: pointer;
	}

	.filter-remove-button-icon{
		height: 20px;
		width: 20px;
	}

</style>