<template>
	<div>
		<header>
			<span id="logo">QUICKSEIS</span>

			<img id="personal-information-button"
				 src="/assets/user.png"
				 height="32"
				 width="32"/>

			<img id="show-tree-button"
				 src="/assets/yy.png"
				 @click="switchMainComponent"/>

			<span id="tree-button"> None</span>
		</header>

		<tree-component ref="treeComponent"
						v-show="currentMainComponent == 'TreeComponent'"></tree-component>

		<seismogram-component ref="seismogramComponent"
							  v-show="currentMainComponent == 'SeismogramComponent'"></seismogram-component>

	</div>
</template>

<script>

	import SeismogramComponent from './components/SeismogramComponent';
	import TreeComponent from './components/TreeComponent';

	export default
	{
		name: 'App',

		components: {
			SeismogramComponent,
			TreeComponent
		},

		data ()
		{
			return {
				currentMainComponent: 'SeismogramComponent'
			}
		},

		mounted ()
		{
			this.$refs.seismogramComponent.setTreeComponent(this.$refs.treeComponent);
		},

		methods: {
			switchMainComponent ()
			{
				if (this.currentMainComponent == 'SeismogramComponent')
				{
					this.currentMainComponent = 'TreeComponent';
				}
				else
				{
					this.currentMainComponent = 'SeismogramComponent';
				}
			}
		}
	}
</script>

<style>
	:root {
		--main-background-color: rgb(88, 154, 166);
		--draw-handle-btns-color: rgb(147, 203, 214);
		--header-width: 100%;
		--header-height: 60px;
		--control-div-backgroumd-color: rgb(234, 249, 252);
		--border-color: rgb(207, 210, 216);
		--add-file-border: rgb(198, 238, 247);
		--draw-handle-height: 90px;
		--seis-information-height: 90px;
		--seismogram-div-height: 600px;
	}

	body {
		margin: 0;
		font-family: sans-serif;
		background-color: rgb(237, 238, 240);
	}

	header {
		background-color: var(--main-background-color);

		height: var(--header-height);
		width: var(--header-width);
		min-width: 1000px;
	}

	#logo {
		position: absolute;
		top: 7px;
		left: 1%;
		font-family: sans-serif;
		color: white;
		font-size: 40px;
	}

	#tree-button {
		float: right;
		margin-top: 20px;
		margin-right: 20px;
		font-family: sans-serif;
		color: white;
		font-size: 15px;
	}

	#show-tree-button {
		float: right;
		margin-right: 240px;
		margin-top: 5px;
	}

	#show-tree-button:hover {
		cursor: pointer;
	}

	#personal-information-button {
		margin-top: 12px;
		float: right;
		margin-right: 90px;
	}

	#personal-information-button:hover {
		cursor: pointer;
	}

</style>
